In [15]:
import pandas as pd

data = pd.read_csv("datafiler/heistur.csv")

In [16]:
data.head()

     time_s  pressure_hpa  height_m     time2       vel
0  1.033081   1001.395130  0.000000  1.549616 -0.402009
1  2.066150   1001.444541 -0.415303  2.582691 -0.829707
2  3.099231   1001.546527 -1.272457  3.615772 -0.809154
3  4.132312   1001.645994 -2.108379  4.648853 -0.756657
4  5.165393   1001.739016 -2.890067  5.681934 -0.874474

In [17]:
data.pop("time2")
data.pop("vel")

0    -0.402009
1    -0.829707
2    -0.809154
3    -0.756657
4    -0.874474
5    -0.706064
6    -0.730928
7    -0.784588
8    -0.826292
9    -0.894415
10   -0.776926
11   -0.835626
12   -0.750388
13   -0.836678
14   -0.777407
15   -0.628311
16   -0.741254
17   -0.733456
18   -0.901809
19   -0.595334
20   -0.249872
21   -0.073863
22   -0.105707
23   -0.081538
24         NaN
Name: vel, dtype: float64

In [18]:
data.head()

     time_s  pressure_hpa  height_m
0  1.033081   1001.395130  0.000000
1  2.066150   1001.444541 -0.415303
2  3.099231   1001.546527 -1.272457
3  4.132312   1001.645994 -2.108379
4  5.165393   1001.739016 -2.890067

In [22]:
data.to_csv("heistur2.csv", sep=",", header=True, index=False)